{% extends "core/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="max-w-md mx-auto">
    <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title text-2xl mb-4">{% trans "Confirm Email Address" %}</h2>
            
            {% if confirmation %}
                {% user_display confirmation.email_address.user as user_display %}
                
                <p class="mb-4">{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}" class="link link-primary">{{ email }}</a> is an email address for user {{ user_display }}.{% endblocktrans %}</p>
                
                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                    {% csrf_token %}
                    <div class="form-control">
                        <button type="submit" class="btn btn-primary w-full">{% trans 'Confirm' %}</button>
                    </div>
                </form>
            {% else %}
                {% url 'account_email' as email_url %}
                <p class="mb-4">{% blocktrans %}This email confirmation link expired or is invalid. Please <a href="{{ email_url }}" class="link link-primary">issue a new email confirmation request</a>.{% endblocktrans %}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}