{% extends "core/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="max-w-md mx-auto">
    <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title text-2xl mb-4">{% trans "Password Changed" %}</h2>
            
            <p class="mb-4">{% trans 'Your password has been changed successfully.' %}</p>
            
            <div class="text-center">
                <a href="{% url 'account_login' %}" class="link link-primary">{% trans "Return to login" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}