{% extends "account/base_entrance.html" %}
{% load allauth i18n %}
{% load widget_tweaks %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
    <h1 class="text-3xl font-bold text-center mb-4">{% trans "Sign Up" %}</h1>
    <p class="text-center mb-4">
        {% blocktranslate %}Already have an account? Then please <a href="{{ login_url }}" class="text-blue-500 hover:underline">sign in</a>.{% endblocktranslate %}
    </p>
    {% if not SOCIALACCOUNT_ONLY %}
        {% url 'account_signup' as action_url %}
        <form class="max-w-sm mx-auto" method="post" action="{{ action_url }}">
            {% csrf_token %}
            <div class="mb-5">
                <label for="id_username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
                {{ form.username|add_class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" }}
            </div>
            <div class="mb-5">
                <label for="id_email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                {{ form.email|add_class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" }}
            </div>
            <div class="mb-5">
                <label for="id_password1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                {{ form.password1|add_class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" }}
            </div>
            <div class="mb-5">
                <label for="id_password2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm password</label>
                {{ form.password2|add_class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" }}
            </div>
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Sign Up</button>
            {{ redirect_field }}
        </form>
    {% endif %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
{% endblock content %}
