{% extends "core/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="max-w-md mx-auto">
    <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title text-2xl mb-4">{% trans "Verify Your Email Address" %}</h2>
            
            {% url 'account_email' as email_url %}
            
            <p class="mb-4">{% blocktrans %}This part of the site requires us to verify that you are who you claim to be. For this purpose, we require that you verify ownership of your email address. {% endblocktrans %}</p>
            
            <p class="mb-4">{% blocktrans %}We have sent an email to you for verification. Please click on the link inside that email. If you do not see the verification email in your main inbox, check your spam folder. Otherwise, contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
            
            <p class="mb-4">{% blocktrans %}<strong>Note:</strong> you can still <a href="{{ email_url }}" class="link link-primary">change your email address</a>.{% endblocktrans %}</p>
        </div>
    </div>
</div>
{% endblock content %}