{% extends "core/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="max-w-md mx-auto">
    <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title text-2xl mb-4">{% trans "Verify Your Email Address" %}</h2>
            
            <p class="mb-4">{% blocktrans %}We have sent an email to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification email in your main inbox, check your spam folder. Please contact us if you do not receive the verification email within a few minutes.{% endblocktrans %}</p>
            
            <div class="text-center">
                <a href="{% url 'home-view' %}" class="link link-primary">{% trans "Return to home" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}