{% extends "core/base.html" %}

{% block content %}
<h4 class="mb-4 text-4l font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl ">{{user.username}}</h4>
<hr>

<div id="chart_container" class="grid grid-cols-1 sm:grid-cols-4 gap-1 mt-6">
    {% for device in devices %}

<div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="/devices/{{device.device_id}}">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{device.device_name}}</h5>
    </a>
    {% comment %} <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Read more
        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </a> {% endcomment %}
</div>
{% endfor %}

</div>

{% endblock content %}